body {
  background-color: purple;
}

.reactImage {
  /* background-color: navy; */
  border-radius: 50%;
  animation-name: react;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-duration: 60s;
  animation-timing-function: linear;
}

@keyframes react {
  100% {
    transform: rotateZ(360deg);
  }
}
